.region-selector-hover-scale:hover {
  margin-right: 100px;
    transform: scale(2);
    transition: transform 0.3s ease;
  }
  
  .region-selector-hover-scale:not(:hover) {
    transform: scale(1);
    transition: transform 0.3s ease;
  }